.building5 {
  bottom: 0;
  display: flex;
  left: calc(
    var(--building-1-offset-left) + var(--building-1-front-width) * 3 +
      (var(--building-1-side-width) * 2) + var(--building-2-side-width) / 2 -
      2px + var(--building-3-front-width) + var(--building-3-side-width) - 40px
  );
  position: absolute;
  height: var(--building-5-height);
}

.building5 .chimney {
  background-color: var(--primary-1400);
  position: absolute;
  right: 56px;
  top: 0;
  transform: translateY(-100%);
  height: 25px;
  width: 20px;
}

.building5 .chimney::before {
  position: absolute;
  right: 0;
  background-color: var(--primary-1500);
  content: "";
  display: inline-block;
  height: 100%;
  transform: translateX(100%);
  width: 15px;
}

.building5 .chimney:nth-child(2) {
  height: 32px;
  right: calc(56px - 22px);
  z-index: -1;
}

.building5 .front {
  background-color: var(--primary-70);
  padding: 12px 10px 0;
  width: var(--building-5-front-width);
}

.building5 .side-wall {
  background-color: var(--primary-800);
  display: flex;
  flex-direction: column;
  padding: 12px 0 0 16px;
  width: var(--building-5-side-width);
}

.building5 :is(.front, .side-wall) {
  position: relative;
  height: 100%;
}

.building5 :is(.front, .side-wall)::before {
  content: "";
  height: 10px;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
}

.building5 .front::before {
  background-color: var(--secondary-400);
  left: -5px;
  width: calc(100% + 10px);
}

.building5 .side-wall::before {
  background-color: var(--primary-900);
  left: 5px;
  width: calc(100% + 5px);
}

.building5 .front :is(.floor0, .generic-floor, .last-floor) {
  display: flex;
  justify-content: space-between;
}

.building5 .front .floor0 .door {
  background-color: var(--primary-900);
  display: inline-block;
  height: 46px;
  width: 30px;
}

.building5 .front .window {
  background-color: var(--primary-900);
  display: inline-block;
  height: 34px;
  width: 30px;
}

.building5 .front .floor0 .window {
  background-color: var(--primary-1000);
  vertical-align: top;
  width: 72px;
}

.building5 .front :is(.generic-floor, .last-floor),
.building5 .side-wall .window:not(:last-child) {
  margin-bottom: 26px;
}

.building5 .front .last-floor .window,
.building5 .side-wall .window.taller {
  height: 47px;
}

.building5 .side-wall .window {
  background-color: var(--primary-100);
  height: 34px;
  width: 34px;
}
