.cloud {
  position: absolute;
  display: flex;
  overflow: hidden;
}

.cloud .shape {
  position: absolute;
  border-radius: 50%;
}

.cloud1 {
  height: 90px;
  left: 50px;
  top: 350px;
  width: 300px;
}

:is(.cloud1, .cloud5) .shape {
  background-color: var(--secondary);
}

.cloud1 .shape:nth-child(1) {
  bottom: -45px;
  height: 90px;
  left: 0;
  width: 90px;
}

.cloud1 .shape:nth-child(2) {
  bottom: -20px;
  height: 90px;
  left: 50px;
  width: 90px;
}

.cloud1 .shape:nth-child(3) {
  bottom: -40px;
  height: 130px;
  left: 110px;
  width: 130px;
}

.cloud1 .shape:nth-child(4) {
  bottom: -45px;
  height: 90px;
  right: 0;
  width: 90px;
}

.cloud2 {
  height: 90px;
  left: 224px;
  top: 350px;
  width: 200px;
}

:is(.cloud2, .cloud4) .shape {
  background-color: var(--secondary-360);
}

.cloud2 .shape:nth-child(1) {
  bottom: -58px;
  height: 100px;
  left: 0;
  width: 100px;
}

.cloud2 .shape:nth-child(2) {
  bottom: -25px;
  height: 100px;
  left: 50px;
  width: 100px;
}

.cloud2 .shape:nth-child(3) {
  bottom: -65px;
  height: 90px;
  left: 111px;
  width: 90px;
}

.cloud3 {
  top: 225px;
  left: unset;
  right: 390px;
  z-index: -1;
}

.cloud4 {
  height: 112px;
  left: unset;
  right: 121px;
  top: 205px;
  width: 386px;
}

.cloud4 .shape:nth-child(1) {
  bottom: -45px;
  height: 100px;
  left: 0;
  width: 100px;
}

.cloud4 .shape:nth-child(2) {
  bottom: -19px;
  height: 100px;
  left: 65px;
  width: 100px;
}

.cloud4 .shape:nth-child(3) {
  bottom: -50px;
  height: 160px;
  left: 136px;
  width: 160px;
}

.cloud4 .shape:nth-child(4) {
  bottom: -45px;
  height: 90px;
  right: 25px;
  width: 90px;
}

.cloud5 {
  height: 70px;
  top: 242px;
  left: unset;
  right: 50px;
  width: 256px;
  z-index: -1;
}

.cloud5 .shape:nth-child(1) {
  bottom: -45px;
  height: 100px;
  left: 0;
  width: 100px;
}

.cloud5 .shape:nth-child(2) {
  bottom: -31px;
  height: 100px;
  left: 65px;
  width: 100px;
}

.cloud5 .shape:nth-child(3) {
  bottom: -57px;
  height: 100px;
  left: 127px;
  width: 100px;
}

.cloud5 .shape:nth-child(4) {
  bottom: -32px;
  height: 50px;
  right: 0;
  width: 50px;
}
