.mountain1 {
  bottom: 0;
  clip-path: polygon(
    0 100%,
    18% 48%,
    30% 38%,
    50% 0,
    54% 2%,
    66% 38%,
    80% 55%,
    100% 100%
  );
  position: absolute;
  left: 0;
  background-color: var(--secondary-100);
  height: 289px;
  width: 380px;
}

.mountain1::before {
  background-color: var(--secondary);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 64%,
    77% 100%,
    64.67% 75%,
    50% 100%,
    39.34% 75%,
    24% 100%,
    0 52%
  );
  content: "";
  display: inline-block;
  left: 132px;
  position: absolute;
  height: 85px;
  width: 108px;
}
